/* Global variables */
:root {
  --main-color: #19c8fa;
  --secondary-color: #777;
  --transparant-color: #0f738fad;
  --section-padding: 100px;
}
/* Global variables */
/* Start components */
.main-section{
  text-align: center;
}
.main-section h2{
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
}
.main-section h2::before{
  content: "";
  width: 120px;
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.main-section h2::after{
  content: "";
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: solid #333 2px;
}
.main-section p{
  line-height: 2;
  color: var(--secondary-color);
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
}
/* End components */
/* Start-Global-Rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End-Global-Rules */
/* Start-header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
  background-color: #a2a2a2;
}
header .container .logo img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul {
  display: flex;
}
/* start nav responsive */
header .container nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .container nav ul li a {
    padding: 15px !important;
  }
}
/* End nav responsive */
header .container nav ul li a {
  display: block;
  padding: 40px 10px;
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 2;
  transition: 0.3s;
  font-size: 14px;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: #19c8fa solid 1px;
}
header .container nav .form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav .form i {
  color: white;
  font-size: 20px;
}
/* End-header */
/* Start landing */
.landing {
  background-image: url(../images/back.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparant-color);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content{
  max-width: 500px;
  color: white;
}
/* Start text responsive */
@media (max-width: 767px){
  .landing .text{
    width: 100%;
  }
  .landing .text .content{
    max-width: 100%;
  }
}
/* End text responsive */
.landing .text .content h2{
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p{
  line-height: 2;
  font-size: 14px;
}
.landing .change-background{
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .fa-angle-left{
  left: 30px;
}
.landing .fa-angle-right{
  right: 30px;
}
@media (max-width: 767px){
  .landing .change-background{
    display: none;
  }
}
.landing .bullets{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.landing .bullets li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid white 1px;
  margin-right: 10px;
}
.landing .bullets li.active{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End landing */
/* Start services */
.services{
  padding: var(--section-padding) 0;
}
@media (min-width:768px) {
  .services .services-contents{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .services-contents .ser{
  display: flex;
}
.services .services-contents .ser i{
  margin-right: 50px;
}
@media (max-width:768px){
  .services .services-contents .ser{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .services-contents .ser i{
    margin: 0 0 30px;
  }
}
.services .services-contents .ser .text h3{
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .services-contents .ser .text p{
  line-height: 2;
  color: var(--secondary-color);
}
/* End services */
/* Start design */
.design{
  padding: var(--section-padding) 0;
  background-image: url(../images/download.jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 600px;
  position: relative;
}
.design::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,.design .text{
  flex: 1;
  z-index: 2;
}
.design .image{
  position: relative;
  bottom: -150px;
  text-align: center;
}
@media (max-width:767px) {
  .design .image{
    display: none;
  }
  
}
.design .text{
  width: 50%;
  padding: 50px;
  color: white;
  background-color: var(--transparant-color);
}
.design .text h2{
  font-weight: normal;
  margin-bottom: 40px;
}
.design .text ul li{
  padding: 15px 0;
}
.design .text ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End desing */
/* Start portfolio */
.portfolio{
  padding: var(--section-padding) 0;
}
.portfolio .links{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.portfolio .links li{
  padding: 10px;
}
.portfolio .links li.active{
  background-color: #19c8fa;
  color: white;
}
.portfolio .portfolio-contents{
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-contents .box{
  position: relative;
  overflow: hidden;
}
@media (min-width:767px) {
  .portfolio .portfolio-contents .box{
    flex-basis: 50%;
  }
}
@media (min-width:1199px) {
  .portfolio .portfolio-contents .box{
    flex-basis: 25%;
  }
  
}
.portfolio .portfolio-contents .box img{
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .portfolio-contents .box .title{
  position: absolute;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-color: white;
  padding: 20px;
  transition: 0.3s;
}
.portfolio .portfolio-contents .box:hover .title{
  bottom: 0;
}
.portfolio .portfolio-contents .box:hover img{
  transform: scale(110%) rotate(4deg);
}
.portfolio .portfolio-contents .box .title h3{
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .portfolio-contents .box .title p{
  color: var(--main-color);
}
.portfolio .button{
  width: 100%;
  height: 100px;
  position: relative;
}
.portfolio .button a{
  position: absolute;
  color: white;
  background-color: var(--main-color);
  text-decoration: none;
  padding: 15px 20px;
  top: 30px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
/* End portfolio */
/* Start video */
.video{
  position: relative;
}
.video .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video{
  width: 100%;
}
.video .text{
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparant-color);
  padding: 60px;
  display: flex;
  justify-content: center;
}
.video .text .contents{
  text-align: center;
  color: white;
}
.video .text .contents h2{
  font-weight: normal;
  margin-bottom: 30px;
}
.video .text .contents p{
  margin-bottom: 30px;
}
.video .text .contents button{
  padding: 10px 20px;
  color: white;
  background-color: black;
  border: none;
  transition: 0.3s;
}
.video .text .contents button:hover{
  background-color: white;
  color: black;
}
/* End video */
/* Start about */
.about{
  padding: var(--section-padding) 0 0;
  overflow: hidden;
  text-align: center;
}
.about img{
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width:767px) {
  .about img{
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End about */
/* Start Statics */
.statics{
  padding: var(--section-padding) 0;
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
  text-align: center;
}
.statics::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.statics .container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.statics .container .sts{
  text-align: center;
  color: white;
  padding: 50px;
  background-color: var(--transparant-color);
}
@media (max-width:767px) {
  .statics .container .sts{
    flex-basis: 100%;
  }
  .statics .container .sts:not(:last-child){
    border-bottom: white solid 1px;
  }
}
@media (min-width:768px) {
  .statics .container .sts{
    flex-basis: 50%;
  }
}
@media (min-width:992px) {
  .statics .container .sts{
    flex-basis: 25%;
  } 
}
.statics .container .sts .icon{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: black;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  transition: 0.3s;
}
.statics .container .sts .icon:hover{
  background-color: white;
  color: black;
}
.statics .container .sts h2{
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px ;
}
.statics .container .sts p{
  font-size: 14px;
}
/* End Statics */
/* Start Skills */
.our-skills{
  padding: var(--section-padding) 0;
}
.our-skills .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width:992px) {
  .our-skills .container > div{
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3{
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}
.our-skills .container > div > p{
  color: var(--secondary-color);
  text-align: center;
  line-height: 2;
  margin-bottom: 60px;
}
.our-skills .testimonials .box{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.our-skills .testimonials .box img{
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width:767px) {
  .our-skills .testimonials .box{
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
  .our-skills .testimonials .box img{
    margin: 0 0 20px;
  }
}
.our-skills .testimonials .box .text{
  border-bottom: solid #ecebed 1px;
}
.our-skills .testimonials .box .text p{
  line-height: 1.7;
  margin-top: 0;
}
@media (max-width:767px) {
  .our-skills .testimonials .box .text p{
    margin-bottom: 15px;
  }
}
.our-skills .testimonials .box .text h4{
  text-align: end;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: normal;
}
.our-skills .testimonials .bullets{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}
.our-skills .testimonials .bullets li{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid #c1bbc8 1px;
  margin-right: 10px;
}
.our-skills .testimonials .bullets li.active{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .skl{
  margin-bottom: 30px;
}
.our-skills .skills .skl h4{
  font-weight: normal;
  margin-bottom: 20px;
}
.our-skills .skills .skl .bar{
  height: 30px;
  background-color: #dedadc;
}
.our-skills .skills .skl .bar span{
  height: 100%;
  background-color: var(--main-color);
  display: block;
  position: relative;
}
.our-skills .skills .skl .bar span::before{
  content: attr(data-progress);
  width: 40px;
  border-radius: 4px;
  background-color: black;
  position: absolute;
  right: -18px;
  top: -40px;
  padding: 4px 0;
  color: white;
  text-align: center;
}
.our-skills .skills .skl .bar span::after{
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent;
  top: -15px;
  right: -10px;
}
/* End Skills */
/* Start quote */
.quote{
  padding: var(--section-padding) 0;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
}
.quote::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container{
  text-align: center;
  color: white;
  position: relative;
}
.quote .container q{
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}
.quote .container q::before{
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-weight: 900;
  font-size: 14px;
  position: relative;
  top: -15px;
  left: -5px;
}
.quote .container q::after{
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  font-size: 14px;
  position: relative;
  top: -15px;
  right: -5px;
}
/* End quote */
/* Start pricing */
.pricing{
  padding: var(--section-padding) 0;
}
.pricing .container .contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pricing .container .contents .cart{
  text-align: center;
  background-color: #FCFCFC;
}
@media (max-width:576px) {
  .pricing .container .contents .cart{
    flex-basis: 100%;
  }
}
@media (min-width:577px) {
  .pricing .container .contents .cart{
    flex-basis: 48%;
  }
}
@media (min-width:991px) {
  .pricing .container .contents .cart{
    flex-basis: 23%;
  }
}
.pricing .container .contents .cart .price{
  padding: 40px 20px;
  border-top: solid 1px var(--main-color);
  border-bottom: solid 1px var(--main-color);
}
.pricing .container .contents .cart .price h2{
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 20px;
}
.pricing .container .contents .cart .price span{
  font-weight: bold;
  font-size: 60px;
  margin-left: 20px;
}
.pricing .container .contents .cart .price span::before{
  font-family: "Font Awesome 5 Free";
  content: "\24";
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -40px;
  left: -15px;
}
.pricing .container .contents .cart .price span::after{
  content: "/Mo";
  font-weight: 900;
  font-size: 25px;
  position: relative;
  right: -15px;
}
.pricing .container .contents .cart .feat{
  display: flex;
  flex-direction: column;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}
.pricing .container .contents .cart .feat span{
  padding: 20px 0;
}
.pricing .container .contents .cart .feat span:not(:last-child){
  border-bottom: solid 1px var(--main-color);
}
.pricing .container .contents .cart .button{
  padding: 30px;
  border-top: solid 1px var(--main-color);
}
.pricing .container .contents .cart .button button{
  background-color: white;
  border: solid var(--main-color) 1px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.pricing .container .contents .cart .button button:hover{
  background-color: var(--main-color);
  border: var(--main-color) solid 1px;
  color: white;
  width: 100%;
}
.pricing .container .contact{
  text-align: center;
  margin: 50px auto 20px;
}
.pricing .container .contact h2{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.pricing .container .contact button{
  padding: 15px 30px;
  background-color: var(--main-color);
  border: var(--main-color) solid 1px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.pricing .container .contact button:hover{
  color: var(--main-color);
  background-color: white;
}
/* End pricing */
/* Start Subscribe */
.subs{
  padding: var(--section-padding) 0;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.subs::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subs .container{
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width:991px) {
  .subs .container{
    flex-direction: column;
  }
}
.subs .container form{
  position: relative;
  display: flex;
  width: 500px;
  transition: 0.3s;
  max-width: 100%;
}
@media (max-width:991px){
  .subs .container form{
    justify-content: center;
  }
}
.subs .container form::before{
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
@media (max-width:991px){
  .subs .container form::before{
    left: 50px;
  }
}
.subs .container form input[type="email"]{
  background-color: transparent;
  border: solid white 1px;
  border-right: none;
  outline: none;
  font-size: 20px;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100%-130px);
  transition: 0.3s;
}
.subs .container form input[type="email"]:focus{
  border-color: var(--main-color);
}
.subs .container form input[type="email"]::placeholder{
  color: white;
}
.subs .container form input[type="submit"]{
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  width: 130px;
  transition: 0.3s;
  border: solid white 1px;
  border-left: none;
}
.subs .container form input[type="submit"]:hover{
  background-color: white;
  color: var(--main-color);
}
.subs .container p{
  color: white;
  line-height: 2;
  margin-left: 50px;
}
@media (max-width:991px) {
.subs .container p{
  margin: 30px 0 0;
  text-align: center;
  }
}
/* End Subscribe */
/* Start Contact */
.contact{
  padding: var(--section-padding) 0;
}
.contact .contents{
  display: flex;
  justify-content: space-between;
}
@media (max-width:767px) {
  .contact .contents{
    flex-direction: column;
  }
}
.contact .contents form{
  flex-basis: 70%;
}
.contact .contents form .main-input{
  padding: 20px;
  display: block;
  width: 100%;
  outline: none;
  border: solid 1px #ccc ;
  margin-bottom: 30px;
}
.contact .contents form textarea.main-input{
  height: 200px;
}
.contact .contents form input[type="submit"]{
  padding: 20px;
  background-color: var(--main-color);
  border: none;
  display: flex;
  margin-left: auto;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  border: solid 1px var(--main-color);
}
@media (max-width:767px){
  .contact .contents form input[type="submit"]{
    margin: 0 auto
  }
}
.contact .contents form input[type="submit"]:hover{
  background-color: white;
  color: var(--main-color);
}
.contact .contents .info{
  flex-basis: 25%;
}
@media (max-width:767px) {
  .contact .contents .info{
    order: -1;
    text-align: center;
  }
}
.contact .contents .info h4{
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 18px;
}
.contact .contents .info span{
  display: block;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.contact .contents .info h4:nth-of-type(2){
  margin-top: 90px;
}
@media (max-width:767px) {
  .contact .contents .info h4:nth-of-type(2){
    margin-top: 30px;
  }
}
.contact .contents .info address{
  line-height: 2;
  color: var(--secondary-color);
}
@media (max-width:767px) {
  .contact .contents .info address{
    margin-bottom: 30px;
  }
}
/* End Contact */
/* Start Footer */
footer{
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  padding: calc(var(--section-padding)/2) 0;
  position: relative;
  text-align: center;
}
footer::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
footer .logo{
  position: relative;
  margin-bottom: 60px;
}
footer .social-media{
  position: relative;
}
footer .social-media h3{
  color: white;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 22px;
}
footer .social-media .icons{
  position: relative;
}
footer .social-media .icons::before{
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: white;
}
footer .social-media .icons i{
  color: white;
  padding: 30px 15px;
}
footer p{
  position: relative;
  margin-top: 40px;
  color: white;
}
footer p span{
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */